@import "tailwindcss";

:root {
  --accent: oklch(67.92% 0.1309 48.59);
  --accent-light: oklch(81.72% 0.1055 49.7);
  --black: oklch(0% 0 0);
  --black-light: oklch(17.3% 0 89.88);
  --black-lighter: oklch(23.503% 0.00003 271.152);
  --gray: oklch(95.81% 0 89.88);
  --gray-light: oklch(98.51% 0 89.88);
  --background: oklch(100% 0 89.88);
  --white: oklch(100% 0 89.88);
  --text-primary: oklch(100% 0 89.88);
  --text-primary-light: oklch(95.81% 0 89.88);
  --text-primary-lighter: oklch(98.51% 0 89.88);
  --text-secondary: oklch(0% 0 0);
  --text-secondary-light: oklch(17.3% 0 89.88);
  --text-secondary-lighter: oklch(23.503% 0.00003 271.152);
}

.dark {
  --accent: oklch(67.92% 0.1309 48.59);
  --accent-light: oklch(81.72% 0.1055 49.7);
  --black: oklch(0% 0 0);
  --black-light: oklch(17.3% 0 89.88);
  --black-lighter: oklch(23.503% 0.00003 271.152);
  --gray: oklch(95.81% 0 89.88);
  --gray-light: oklch(98.51% 0 89.88);
  --background: oklch(0% 0 0);
  --white: oklch(100% 0 89.88);
  --text-secondary: oklch(100% 0 89.88);
  --text-secondary-light: oklch(95.81% 0 89.88);
  --text-secondary-lighter: oklch(98.51% 0 89.88);
  --text-primary: oklch(0% 0 0);
  --text-primary-light: oklch(17.3% 0 89.88);
  --text-primary-lighter: oklch(23.503% 0.00003 271.152);
}

@theme inline {
  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);
  --color-black: var(--black);
  --color-black-light: var(--black-light);
  --color-black-lighter: var(--black-lighter);
  --color-gray: var(--gray);
  --color-gray-light: var(--gray-light);
  --color-background: var(--background);
  --color-white: var(--white);
  --color-text-primary: var(--text-primary);
  --color-text-primary-light: var(--text-primary-light);
  --color-text-primary-lighter: var(--text-primary-lighter);
  --color-text-secondary: var(--text-secondary);
  --color-text-secondary-light: var(--text-secondary-light);
  --color-text-secondary-lighter: var(--text-secondary-lighter);

  --font-manrope: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    font-family: var(--font-manrope);
  }
}
